*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}


.container{
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-top: 2rem;
}

header{
    width: 100%;
}

.nav-item a{
    color: rgb(173, 173, 173);
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item{
    display: inline;
    margin-right: 1rem;
}

main{
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

footer{
    width: 100%;
    padding: 2rem;
    height: auto;
    text-align: center;
    font-size: 1em;
}

.main-article{
    height: auto;
    max-height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.main-article img{ 
    border-radius: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.main-article .text-box{
    width: 70%;
    color: white;
    padding: 1.5rem;
    position: absolute;
    bottom: 30px;
    z-index: 100;
}

.main-article h1{
    font-size: 1.5rem;
    font-weight: normal;
}

.multi-article{
    width: 100%;
    margin-top: 2rem;
}

.multi-article:after, .multi-article:before{
    content: ' ';
    display: table;
    clear: both;
}

.title-box{
    width: 100%;
    margin-bottom: 1.5rem;
}

.article{
    width: 25%;
    float: left;
    margin-bottom: 1.5rem;
    position: relative;
}

.large{
    width: calc(50% - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
}

.logo{
    width: 20%;
    max-width: 150px;
    margin-bottom: 1rem;
}

.multi-article .article a{
    color:black;
    text-decoration: none;
}

.multi-article h1{
    font-size: 2em;
    font-weight: 800;
}

.multi-article h2{
    font-size: 1em;
    color: rgb(173, 173, 173);
    font-weight: normal;
}

.multi-article .text-box{
    margin-top: 1.5rem;
}

.multi-article h3{
    font-size: 1rem;
    margin-bottom: 10px;
}

.multi-article .img-box{
    width: 100%;
    height: 150px;
    border-radius: 1rem;
    position: relative;
}

.multi-article .article-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
} 

.overlay{
    position: absolute;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
}
