*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-top: 2rem;
}

header{
    width: 100%;
}

.nav-item a{
    color: rgb(143, 143, 143);
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item a:hover{
    color: black;
    transition: color linear 0.5;
}

.nav-item{
    display: inline;
    margin-right: 1rem;
}

main{
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

footer{
    width: 100%;
    padding: 2rem;
    height: auto;
    text-align: center;
    font-size: 1em;
}

.main-article{
    border-radius: 1rem;
    position: relative;
    width: 100%;
}

.main-article img{ 
    border-radius: 1rem;
    height: 300px;
    width: 100%;
    opacity: 0.8;
    object-fit: cover;
    filter: brightness(0.7);
    display: block;
}

.main-article .text-box{
    width: 70%;
    color: white;
    padding: 1.5rem;
    position: absolute;
    bottom: 30px;
    z-index: 100;
}

.main-article h1{
    font-size: 1.5rem;
    font-weight: normal;
}

.multi-article{
    width: 100%;
    margin-top: 2rem;
}

.multi-article:after, .multi-article:before{
    content: ' ';
    display: table;
    clear: both;
}

.title-box{
    width: 100%;
    margin-bottom: 1.5rem;
}

.article{
    width: 25%;
    float: left;
    margin-bottom: 1.5rem;
    position: relative;
}

.large{
    width: calc(50% - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
}

.logo{
    width: 20%;
    max-width: 150px;
    margin-bottom: 1rem;
}

.multi-article .article a{
    color:rgb(133, 133, 133);
    text-decoration: none;
}

.multi-article h1{
    font-size: 2em;
    font-weight: 800;
}

.multi-article h2{
    font-size: 1em;
    color: rgb(143, 143, 143);
    font-weight: normal;
}

.multi-article .text-box{
    margin-top: 1.5rem;
    color:rgb(143, 143, 143);
}

.multi-article h3{
    font-size: 1rem;
    margin-bottom: 10px;
}

.multi-article .img-box{
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.multi-article img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5em;
    filter: brightness(0.7);
}
