*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}


.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    padding-top: 20px;
}

header{
    height: calc(10vh - 20px);
    width: 100%;
    background-color: rgb(219, 141, 219);
}

main{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: rgb(124, 43, 244);
}

.main-article{
    height: 30vh;
    width: 100%;
    background-color: rgb(223, 213, 134);
}

.multi-article{
    width: 100%;
    background-color: rgb(53, 135, 246);
    margin-top: 20px;
    min-height: ;
}

.multi-article:after, .multi-article:before{
    content: ' ';
    display: table;
    clear: both;
}

.title-box{
    width: 100%;
    height: 80px;
    background-color: rgb(177, 206, 228);
    margin-bottom: 15px;
}

.section{
    width: calc(20% - 5px);
    height: 300px;
    background-color: rgb(177, 206, 228);
    float: left;
    margin-bottom: 15px;;
}

.large{
    width: calc(60% - 10px);
    margin-left: 10px;
    margin-right: 10px;
}