*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    padding-top: 20px;
}

header{
    width: 100%;
}

.logo{
    width: 20%;
    max-width: 150px;
    margin-bottom: 1.5rem;
}

.nav-item a{
    color: rgb(173, 173, 173);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item{
    display: inline;
    margin-right: 1rem;
}

main{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

footer{
    width: 100%;
    padding: 2rem;
    height: auto;
    text-align: center;
    font-size: 1em;
}

.main-article{
    height: auto;
    min-height: 300px;
    width: 100%;
    background-color: rgb(223, 213, 134);
    border-radius: 10px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-article .text-box{
    width: 70%;
    color: white;
    padding: 1.5rem;
    position: absolute;
    bottom: 30px;
    z-index: 100;
}

.main-article h1{
    font-size: 1.5rem;
}

.multi-article{
    width: 100%;
    background-color: rgb(53, 135, 246);
    margin-top: 20px;
}

.multi-article:after, .multi-article:before{
    content: ' ';
    display: table;
    clear: both;
}

.title-box{
    width: 100%;
    height: 80px;
    background-color: rgb(177, 206, 228);
    margin-bottom: 15px;
}

.section{
    width: calc(20% - 5px);
    height: 300px;
    background-color: rgb(177, 206, 228);
    float: left;
    margin-bottom: 15px;;
}

.large{
    width: calc(60% - 10px);
    margin-left: 10px;
    margin-right: 10px;
}